body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header h1 {
	color: #fff;
	float: left;
	width: 200px;
	padding-left: 40px;
}

#cougar{
	background: #8C513A;
}

#lion{
	background: #B08D58;
}

#tiger{
	background: #96AD92;
}

h2 {
	font-size: 50px;
}

/* nav styles */

nav {
	float: right;
	width: 400px;
	padding-top: 50px;
}

nav ul {
	list-style: none;
	margin-top: 0;
}

nav li {
	float: left;
	margin-left: 20px;
}

body {
	color: #000;
}

footer {
	color: #fff;
	text-align: center;
	padding: 0em 5em;
}


section > p {
	text-align: center;
}

/* Two column stuff */

div { 
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	float: left;
	width: 55%;
	padding-left: 40px
	}
	
article {
	float: left;
	width: 40%;
	padding: 20px 0
}

section {
	overflow: auto;
	width: 100%;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
a:link {
	text-decoration: none;
}
